mixin block-roads-design()
    +b('section').roads-section-design
        +e('div').header
            p DESIGN UX
        +e('div').body
            +b('div').research
                +e('div').header Research
                +b('div').research-body
                    +e('div').base.line
                    +e('div').item-das Das...
                    +e('div').item-template Template
            +b('div').in-progress
                +e('div').header In progress
                +b('div').in-progress-body
                    +e('div').base.line
                    +e('div').item-ux-1 UX
                    +e('div').item-flo Flo...
                    +e('div').item-ux-2 UX
            +b('div').backlog
                +e('div').header Backlog
                +b('div').backlog-body
                    +e('div').base.line
                    +e('div').item-flat Flat...
                    +e('div').base.line
                    +e('div').item-prototyping Prototyping
                    +e('div').item-private-policy Private Policy