mixin b-header()
    +b('header').header
        +e('div').logo
            +e('a')(href="/")
                img(src="img/logo.png" alt="logo")
        +e('div').navigation
            +b('div').left-nav
                +e('nav')
                    +e('a')(href="/")
                        +e('img')(src="img/nav-1.svg").nav-item
                    +e('a')(href="/")
                        +e('img')(src="img/nav-2.svg").nav-item
                    +e('a')(href="/")
                        +e('img')(src="img/nav-3.svg").nav-item
                    +e('a')(href="/")
                        +e('img')(src="img/nav-4.svg").nav-item
            +b('div').right-nav
                +e('nav')
                    +e('button').button-save &#10003; Saved
                    +e('button').button-active Create
                    +e('span').nav-item-wrapper
                        +e('img')(src="img/nav-1-1.png").nav-item
                    +e('span')(id="openSidebar").nav-item-wrapper
                        +e('img')(src="img/nav-1-2.png").nav-item
                    +e('span').nav-item-wrapper
                        +e('img')(src="img/nav-1-3.png").nav-item
                    +e('span').nav-item-wrapper
                        +e('img')(src="img/nav-1-4.png").nav-item