include  block/index
include ../node_modules/bemto.pug/bemto

doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        title GBKSoft
        link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600" rel="stylesheet")
    body
        block header
            +b-header()
            //+b-date-form()
            +b-sidebar()
        block main
            +block-roads-design()
            +block-roads-slicing()
            +block-roads-architecture()
        link(rel="stylesheet" href="css/bundle.css")
        link(rel="stylesheet" href="css/main.css")
        script(type="text/javascript" src="js/main.js")