mixin block-roads-architecture()
    +b('section').roads-section-architecture
        +e('div').header
            p ARCHITECTURE
        +e('div').body
            +b('div').research-architecture
                +e('div').header Research
                +b('div').research-architecture-body
                    +e('div').base.line
                    +e('div').item-das Das...
            +b('div').in-progress-architecture
                +e('div').header In progress
                +b('div').in-progress-architecture-body
                    +e('div').base.line
                    +e('div').item-flo Flo...
                    +e('div').item-ux-2 UX
            +b('div').backlog-architecture
                +e('div').header Backlog
                +b('div').backlog-architecture-body
                    +e('div').base.line
                    +e('div').item-flat Flat...
                    +e('div').base.line
                    +e('div').item-prototyping Prototyping
                    +e('div').item-private-policy Private Policy
            +b('div').new
                +e('div').header NEW
                +b('div').new-body
                    +e('div').base.line
                    +e('div').item-programming Programming
            +b('div').completed
                +e('div').header Completed
                +b('div').completed-body
                    +e('div').base.line
                    +e('div').item-meeting Meeting
                    +e('div').item-me Me...