mixin block-roads-slicing()
    +b('section').roads-section-slicing
        +e('div').header
            p SLICING
        +e('div').body
            +b('div').research-slicing
                +e('div').header Research
                +b('div').research-slicing-body
            +b('div').in-progress-slicing
                +e('div').header In progress
                +b('div').in-progress-slicing-body
                    +e('div').base.line
                    +e('div').item-home-page-design Home page Design
                    +e('div').base.line
                    +e('div').item-3-dotes ...
            +b('div').reopened
                +e('div').header REOPENED
                +b('div').reopened-body
                    +e('div').base.line
                    +e('div').item-home-page-design Home page Design
                    +e('div').item-buttons Buttons
                    +e('div').base.line
                    +e('div').item-planing Planing
            +b('div').status
                +e('div').header STATUS: NONE
                +b('div').status-body
                    +e('div').base.line
                    +e('div').item-terra Terra
                    +e('div').base.line
                    +e('div').item-incognito Incognito